:root {
    /*Kolory*/
    --color-bg: #323131;
    --color-text: orange;
    --color-primary: #ffffff;
    --color-primary-hover: #be3803;
    /*Topografia*/
    --font-size-base: 1rem;
    --line-height-base: 1.5;
    /* Rozmiary nagłówków */
    --font-size-h1: 2.5rem;
    /* 40px */
    --font-size-h2: 2rem;
    /* 32px */
    --font-size-h3: 1.75rem;
    /* 28px */
    --font-size-h4: 1.5rem;
    /* 24px */
    --font-size-h5: 1.25rem;
    /* 20px */
    --font-size-h6: 1rem;
    /* 16px */

    /* Opcjonalnie: odstępy między nagłówkami */
    --heading-margin-top: 1.5rem;
    --heading-margin-bottom: 0.75rem;
    /*16px*/
    --font-size-lg: 1.25rem;
    --line-height-base: 1.5;
    /*przerwy*/
    --space-sm: 0.75rem;
    --space-md: 1.25rem;
    --space-lg: 2rem;
    /*Zaokrągelnia*/
    --radius-sm: 4px;
    --radius-md: 8px;
    /*Animacje*/
    --transition-fast: 150ms;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
}

body {
    background-color: var(--color-bg);
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--color-primary);
}

.top {
    display: flex;
    flex-direction: row-reverse;
}

.logo {
    width: 100%;
    max-width: 320px;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.social-media {

    display: none;

}

.menu {
    display: flex;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}



.menu-text {
    color: white;
    font-weight: bold;
    margin: 0;
    text-align: center;

}

.hamburger-menu-list {
    display: none;
    list-style-type: none;
    z-index: 10;

}

.hamburger-menu-element {
    height: 40px;
    width: 100%;


}

.hamburger-menu-a {
    display: block;
    list-style-type: none;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.57);
    color: white;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.menu:hover>.hamburger-menu-list {
    width: 100%;
    display: block;
    position: absolute;
    top: 100%;
    right: 0.5px;
    padding-left: 0;
}

.hero {
    background-image: url('../img/section1-bg-img.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.p-line {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
    font-weight: bold;
    color: white;
    font-size: var(--font-size-h4);
}

.arrow-p {
    margin: 0;
    font-weight: bold;
    color: white;
    font-size: var(--font-size-h3);
}

.h-class {
    margin: 0;
    font-weight: bold;
    font-size: 3rem;
    color: white;
}

.button-hero {
    margin: 10px 0 0 0;
    color: white;
    font-weight: bold;
    font-size: var(--font-size-h6);
    height: 40px;
    width: 160px;
    border-radius: var(--radius-md);
    border: 1px solid white;
    cursor: pointer;
    background-color: transparent;

}

.p-line::before,
.p-line::after {
    content: "";
    flex: 1;
    height: 2px;
    background-color: white;
}

.hero-transition {
    position: absolute;
    left: 50%;
    top: 90%;
    text-decoration: none;
}

.about-us-work-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    background-color: white;
    height: auto;
    gap: 10px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    height: auto;
}

.info-1 {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;

}

.info-h {
    color: red;
    font-size: 4rem;
    padding: 0 0 10px 0;
    margin: 0;
}

.info-h-2 {
    color: lightseagreen;
}

.info-h-3 {
    color: indigo;
}

.text-info-1 {
    color: burlywood;
    padding: 0;
    margin: 0;
}

.text-info-2 {
    text-align: center;
    color: burlywood;
    max-width: 150px;
}


.info-1::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 4px solid red;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(-160deg);
}

.info-2::after {
    border: 4px solid lightseagreen;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(110deg);
}

.info-3::after {
    border: 4px solid indigo;
    border-bottom-color: transparent;
    transform: rotate(290deg);
}

.our-team {
    background-image: url('../img/section-ourteam-bg-img.png');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.our-team-info {
    height: 200px;
    min-width: 300px;
    max-width: 600px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-line1 {
    width: 43%;
    font-size: var(--font-size-h5);
}

@media (min-width: 768px) {
    .social-media {
        display: flex;
        padding-right: 20px;
        width: 100%;
        max-width: 640px;
        height: 80px;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }

    .menu {
        max-width: 320px;
    }

    .top {
        flex-direction: row;
    }

    .menu:hover>.hamburger-menu-list {
        left: 0.5px;
    }

    .hero h1 {
        font-size: 5rem;
    }

    .about-us-work-section {
        display: flex;
        flex-direction: row;
        background-color: white;
        height: 450px;
        gap: 0;
    }

    .information {
        height: 350px;
    }

    .our-team-info {
        width: 840px;

    }
    .p-line1 {
        font-size: var(--font-size-h4);
    }

}