:root {
    /*Kolory*/
    --color-bg: #323131;
    --color-text: orange;
    --color-primary: #2563eb;
    --color-primary-hover: #be3803;
    /*Topografia*/
    --font-size-base: 1rem;
    --line-height-base: 1.5;
    /* Rozmiary nagłówków */
    --font-size-h1: 2.5rem;
    /* 40px */
    --font-size-h2: 2rem;
    /* 32px */
    --font-size-h3: 1.75rem;
    /* 28px */
    --font-size-h4: 1.5rem;
    /* 24px */
    --font-size-h5: 1.25rem;
    /* 20px */
    --font-size-h6: 1rem;
    /* 16px */

    /* Opcjonalnie: odstępy między nagłówkami */
    --heading-margin-top: 1.5rem;
    --heading-margin-bottom: 0.75rem;
    /*16px*/
    --font-size-lg: 1.25rem;
    --line-height-base: 1.5;
    /*przerwy*/
    --space-sm: 0.75rem;
    --space-md: 1.25rem;
    --space-lg: 2rem;
    /*Zaokrągelnia*/
    --radius-sm: 4px;
    --radius-md: 8px;
    /*Animacje*/
    --transition-fast: 150ms;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--color-primary);
}

.top {
    display: flex;
}

.logo {
    width: 100%;
    max-width: 400px;
    height: 80px;
    border: 1px solid black;
}

.social-media {
    padding-right: 20px;
    width: 100%;
    max-width: 800px;
    height: 80px;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.menu {
    background-color: black;
    width: 100%;
    max-width: 400px;
    height: 80px;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-left: 20px;

}

.menu>li {
    display: flex;
    list-style-type: none;
}
.menu>li>a>p {
    color: white;
    font-style: ;
    font-weight: bold;
    padding: 15px 0 0 10px;
    float: right;
    margin: 0;
    text-align: center;

}

.menu>li>ul {
    display: none;
    margin: 0;
}

.menu>li>ul>li {
    list-style: none;

}

.menu>li>ul>li>a {
    text-decoration: none;
    background-color: black;
    height: 40px;
    width: 100%;
    max-width: 400px;
    border: 1px solid white;
}
.menu>li:hover>ul {
    display: block;

}